nav[gf-nav] {
	position: relative;

	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 4px 0;

	box-shadow: 1px 1px 10px 0.0019px #585757;
}



nav[gf-nav].underline ul li {
	position: relative;
}

nav[gf-nav].underline ul li::after {
	content: "";
	position: absolute;

	width: 0%;
	height: 2px;

	bottom: 5px;
	left: 0;

	transition: width 0.5s ease-in-out;

}

nav[gf-nav].underline ul li:hover::after {
	width: 100%;
}

nav[gf-nav] .nav-header {
	display: none;
}

nav[gf-nav].adaptive-nav .nav-header {
	display: block;

	padding: 10px;
}

nav[gf-nav] .nav-header .nav-header--button {
	position: relative;
	width: 42px;
	height: 42px;
	
	background-color: transparent;

	border: 1px solid #e7e7e7;
	border-radius: 3px;

	cursor: pointer;

	outline: none;

}

nav[gf-nav] .nav-header .nav-header-button:hover i {
	background-color: #333;
}


nav[gf-nav] .nav-header .nav-header--button i {
	position: absolute;
	width: 28px;
	height: 3px;
	left: 6px;
	top: 9px;
	background-color: #676666;
	border-radius: 2px;

	transition: background-color .3s ease-in-out;
}

nav[gf-nav] .nav-header .nav-header--button i:nth-child(2) {
	top: 18px;
}

nav[gf-nav] .nav-header .nav-header--button i:last-child {
	top: 27px;
}

nav[gf-nav] ul {
	margin: 0;
	padding: 0 20px;
}

nav[gf-nav] ul li {
	list-style: none;
	display: inline-block;
	padding: 20px 15px;
}

nav[gf-nav] ul li a {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	font-size: 13.5pt;
	text-decoration: none;
	text-transform: uppercase;
	color: #676666;
	transition: color .3s ease-in-out;	
}

nav[gf-nav] ul li a:hover {
	color: #333;
}

nav[gf-nav].adaptive-nav {
	position: fixed;

	top: 0;
	left: 0;

	padding: 0 4px;
	background-color: #fff;
}

nav[gf-nav].adaptive-nav .nav-body {
	position: fixed;
	top: 64px;
	left: -100%;
	background-color: #fff;

	width: 100%;
	height: 100%;

	border-right: 1px solid #e7e7e7;
	box-shadow: 1px 2 10px 0.0019px #585757;

	transition: left .5s ease-in-out;
}

nav[gf-nav].adaptive-nav .nav-body ul {
	width: 100%;
	height: 100%;

	text-align: center;
	padding: 0;
}

nav[gf-nav].adaptive-nav .nav-body ul li {
	display: block;
}

nav[gf-nav].adaptive-nav.opened-nav .nav-body {
	left: 0;
}

nav[gf-nav].adaptive-nav .nav-header .nav-header--button i {
	transition: transform .5s ease-in-out;
}

nav[gf-nav].adaptive-nav.opened-nav .nav-header .nav-header--button i:first-child{
	top: 45%;

	transform: rotate(45deg);
}

nav[gf-nav].adaptive-nav.opened-nav .nav-header .nav-header--button i:last-child{
	top: 45%;

	transform: rotate(-45deg);
}

nav[gf-nav].adaptive-nav.opened-nav .nav-header .nav-header--button i:nth-child(2){
	opacity: 0;
}

/* FLAGS */

nav[gf-nav].non-uppercase ul li a {
	text-transform: none;
}

nav[gf-nav] ul li.no-padding {
	padding: 0;
	line-height: 130%;
}

nav[gf-nav] ul li.no-padding a {
	position: inherit;
}

nav[gf-nav] ul li.no-padding a img {
	padding-top: 20px;
}

nav[gf-nav].lower-uppercase ul li a {
	text-transform: lowercase;
}

nav[gf-nav].nav-fixed {
	position: fixed;

	left: 0;
	top: 0;

	background-color: #fff;

	z-index: 1000;
}

nav[gf-nav].talign-center {
	text-align: center;
}

nav[gf-nav].talign-left {
	text-align: left;
}

nav[gf-nav].talign-right {
	text-align: right;
}